@import ../../node_modules/bootstrap/scss/bootstrap

p
    margin:0 !important
    padding:0 !important
                    /** Header Start **/
.header
    margin:5vh
h1
    text-align: center
.btn
    color: $primary
.btn:focus
    background: $primary
    color: #fff
    