@import ../../node_modules/bootstrap/scss/bootstrap

html
    margin:0
    padding:0
                    /** Header Start **/
.header
    margin:5vh
h1
    text-align: center
.btn
    color: $primary
.btn:focus
    background: $primary
    color: #fff
    